<%- include("partials/header"); -%>

<h1>About Me</h1>
<p>My name is Tristan Strauss and I am the author of this website. I have handcrafted this website myself using the knowledge I have gained through my studies. I am a self taught developer that thouroughly enjoys learning new programming languages and frameworks. This website is a portfolio item to demonstrate my skills as a developer. If you are interested in working with me or getting in contact with me please visit the "Contact Me" page</p>

<%- include("partials/footer"); -%>