<%- include("partials/header"); -%>

<h1>Contact Me</h1>
<p>These are the ways in which you can contact me:</p>
<ul>
    <li><p>Email: tristanzstrauss@gmail.com</p></li>
    <li><p>LinkedIn: <a href="https://www.linkedin.com/in/tristan-zane-strauss/">Tristan's LinkedIn</a></p></li>
    <li><p>Github: <a href="https://github.com/Tristan-Strauss">Tristan's Github</a></p></li>
</ul>
<br>
<p>Thank you for taking the time to view my work. I look forward to hearing from you!</p>

<%- include("partials/footer"); -%>